%nav.navbar.fixed-top.navbar-expand-md.navbar-dark.bg-dark
  =link_to 'artalytics', root_path, class: 'navbar-brand'
  %button.navbar-toggler{"data-target" => "#navbar-contents", "data-toggle" => "collapse", type: "button", "aria-controls" => "navbar-contents", "aria-expanded" => "false", "aria-label" => "expand navigation" }
    %span.navbar-toggler-icon
  #navbar-contents.collapse.navbar-collapse
    %ul.navbar-nav
      %li{class: navbar_activity_class('event')}
        =link_to 'Events', events_path, class: 'nav-link'
      %li{class: navbar_activity_class('chart')}
        %a.nav-link{href: "#"} Charts
      %li{class: navbar_activity_class('artwork')}
        %a.nav-link{href: "#"} Artworks
      %li{class: navbar_activity_class('merchandise')}
        %a.nav-link{href: "#"} Merchandise
