%nav.navbar.navbar-default{role: "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    =link_to 'Control Panel', root_path, class: 'navbar-brand'
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav
      %li{class: navbar_activity_class('event')}
        =link_to 'Events', events_path
      %li{class: navbar_activity_class('artwork')}
        %a{href: "#"} Artworks
      %li{class: navbar_activity_class('merchandise')}
        %a{href: "#"} Merchandise
