%nav.navbar.fixed-top.navbar-expand-md.navbar-dark.bg-dark
  -#%a#toggle-chart-controls.d-md-none{data: { toggle: 'collapse', target: '#controls'}}
  -#  %i.fas.fa-tools
  =link_to 'artalytics', root_path, class: 'navbar-brand'
  %button.navbar-toggler{"data-target" => "#navbar-contents", "data-toggle" => "collapse", type: "button", "aria-controls" => "navbar-contents", "aria-expanded" => "false", "aria-label" => "expand navigation" }
    %span.navbar-toggler-icon
  #navbar-contents.collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item.dropdown{class: navbar_activity_class('chart')}
        %a#charts-dropdown-menu.nav-link.dropdown-toggle{href: '#', role: :button, aria: { haspopup: true, expanded: false }, data: { toggle: :dropdown }  } Charts
        .dropdown-menu{aria: { labelledby: :navbar } }
          = link_to 'Events',          new_events_chart_path,   class: 'dropdown-item'
          = link_to 'Paired Artworks', new_paired_artwork_path, class: 'dropdown-item'
      %li.nav-item{class: navbar_activity_class('event')}
        = link_to 'Events', events_path, class: 'nav-link'
      %li.nav-item.disabled{class: navbar_activity_class('artwork')}
        %a.nav-link{href: "#"} Artworks
      %li.nav-item.disabled{class: navbar_activity_class('merchandise')}
        %a.nav-link{href: "#"} Merchandise
      %li.nav-item.disabled{class: navbar_activity_class('tag')}
        %a.nav-link{href: '#'} Tags

  - if content_for?(:subnav)
    %a.navbar-nav.collapsed{ data: { toggle: 'collapse', target: '#subnavbar' }, aria: {expanded: false, label: 'Toggle subnavbar', controls: 'subnavbar' }}
      %i#when-collapsed.fas.fa-chevron-circle-down
      %i#when-open.fas.fa-chevron-circle-up

- if content_for?(:subnav)
  %nav#subnavbar.navbar.sticky-top.navbar-expand-md.navbar-light.bg-light.collapse
    = yield :subnav
