@import '~bootstrap/scss/bootstrap';
@import '~nvd3/build/nv.d3';
@import '~flatpickr/dist/flatpickr';

@import './tagify';
@import './font-awesome';

$navbar-height: $nav-link-height + 2 * $navbar-padding-y;

#chart, svg {
  margin: 0px;
  width: 100%;
}

.row > #chart {
  height: 500px;
}

.navbar-offset  {
  margin-top: $navbar-height;
}

#controls {
  height: calc(100vh - #{$navbar-height});
}
