@import './bootstrap';
@import '~nvd3/build/nv.d3';
@import '~flatpickr/dist/flatpickr';

@import './tagify';
@import './font-awesome';

@import './datatables';
@import './tags';

@import './navbar';

#chart, svg {
  margin: 0px;
  width: 100%;
}

.row > #chart {
  height: 500px;
}

#controls {
  height: calc(100vh - #{$navbar-height});
}
