/*
 *= require custom_bootstrap/custom_bootstrap
 *= require bootstrap-datepicker3
 *= require nv.d3
 */

svg {
  display: block;
}

#chart, svg {
  margin: 0px;
  padding: 0px;
  height: 00%;
  width: 100%;
}

.row > #chart {
  height: 500px;
}
