@import "bootstrap";
@import "tempusdominus-bootstrap-4";
@import "font-awesome";
@import "nv.d3";

svg {
  display: block;
}

#chart, svg {
  margin: 0px;
  padding: 0px;
  height: 00%;
  width: 100%;
}

.row > #chart {
  height: 500px;
}
